Django==2.0.4
django-cors-headers==2.4.0
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
gunicorn==19.9.0
pyldap==3.0.0.post1
PyMySQL==0.9.2
python-ldap==3.1.0
django-auth-ldap==1.7.0
ply==3.11
pymongo==3.7.2