Django==3.0.7
django-filter==2.2.0
djangorestframework==3.11.0
django-cors-headers==3.2.1
djangorestframework-jwt==1.11.0
mysqlclient==1.4.6
Markdown==3.2.1
python-gitlab==1.4.0
pymongo==3.10.1
PyMySQL==0.9.3
redis==3.5.1
ply==3.11
cryptography==2.9.2